// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #590212;
$body-color: #590212;
$primary: grey;
$font-family-base: roboto;

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Add you custom CSS

body {
  margin: 20px;
}

.jumbotron {
  border-radius: 0;
  color: #590212;
  background-color: #8c031c;
}

p {
  color: lightgray;
}

h1 {
  color: lightgrey;
}

.bg-red {
  background-color: #d90b42;
}
.card {
  background-color: #260303;
  border-radius: 0;
}

.card-img,
.card-img-top {
  border-radius: 0;
}

h5 {
  color: lightgrey;
}

.card-title2 {
  color: aliceblue;
}

.navbar {
  position: fixed;
}

#contact {
  font-: 10px !important;
}
