// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #590212;
$body-color: white;
$primary: grey;
$font-family-base: Arial;

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Add you custom CSS

body {
  margin: 20px;
}

.jumbotron {
  border-radius: 0;
  color: #260303;
}

p {
  color: darkgray;
}

h1 {
  color: darkgrey;
}
